@font-face {
    font-family: 'CustomFont'; /* 自訂字體名稱 */
    src: url('../fonts/fenyuan.ttf') format('truetype'); /* 路徑和格式 */
    font-weight: normal; /* 設定字體的粗細 */
    font-style: normal; /* 設定字體的樣式 */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #786364;
}

select, option, .controls, .leaflet-popup-content-wrapper, .leaflet-control-custom a, .legend, .loading {
    font-family: 'CustomFont', Tahoma, Geneva, Verdana, sans-serif;
}

/* 下拉清單樣式 */
select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 200px;
}

select:hover {
    background-color: #e6e6e6;
    border-color: #34c687;
}

select:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

select:active {
    transform: scale(0.95);
}

select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 18px; /* 調整選項的字體大小 */
}

select option:checked {
    background-color: #A79192;
    color: #F6E9E2;
}
/* 調整下拉選單和文字的字體大小 */
#modeSelect,
#dataSelect {
    font-size: 18px; /* 你可以根據需要調整字體大小 */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 200px;
}

.rangeType,
.dataType {
    font-size: 18px; /* 這裡也可以調整字體大小 */
    margin-left: 20px;
    font-weight: bold;
    color: #333;
}

.container {
    text-align: center;
    padding: 5px;
    background-color: #786364;
    color: #F6E9E2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    display: flex;
    height: 80%;
    background-color: #D2AEAD;
    margin: 0 50px;
    position: relative; /* 讓map-container成為定位的參考點 */
    border-radius: 10px;
}

#map {
    flex: 4;
    height: 94.7%;
    background-color: #D2AEAD;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px 20px 10px;
    background-color: #CFC5C9;
    border: 1px solid #837d7d;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    height: 650px;
    width: 400px;
}

#info:hover {
    background-color: #DFD3C3;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

#info h2, #info table, #info canvas {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#title {
    font-size: 28px;
    font-weight: bold;
}

.controls {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #A79192;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 18px;
}

.controls input[type="select"] {
    margin: 0 5px;
}

.controls span {
    margin-right: 20px;
    font-weight: bold;
    color: #000000;
}

.author {
    background-color: #CFC5C9;
    position: absolute;
    top: 80px;
    right: 50px; 
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 0.6;
}

#github {
    background-color: #A79192;
    width: 25px; 
    height: 25px;
    margin-left: 3px; 
    vertical-align: middle;
}

.dataType {
    margin-left: 20px;
}

.leaflet-popup-content-wrapper {
    background: #D2AEAD;
    color: #000000; /* 控制彈出視窗文字的顏色 */
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.leaflet-popup-content {
    padding: 5px;
}

.leaflet-interactive {
    transition: fill 0.5s ease, stroke 0.5s ease;
}

.leaflet-control-custom {
    background-color: #a9d7f6;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
    font-size: 15px;
}

.leaflet-control-custom a {
    background-color: #74afdf;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.legend {
    background-color: #a9d7f6;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    color: #333;
}

.legend i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%); /* 將方塊移至正中央 */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    color: #333;
    z-index: 1000;
}
