@font-face {
    font-family: 'CustomFont'; /* 自訂字體名稱 */
    src: url('../fonts/fenyuan.ttf') format('truetype'); /* 路徑和格式 */
    font-weight: normal; /* 設定字體的粗細 */
    font-style: normal; /* 設定字體的樣式 */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #786364;
}
/* 標籤樣式 */
span {
    font-weight: bold;
    color: #333;
}
/* 下拉清單樣式 */
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 200px;
}

select:hover {
    background-color: #e6e6e6;
    border-color: #34c687;
}

/* 當選單被點擊時增加一個陰影效果 */
select:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 選單展開時的彈跳效果 */
select:active {
    transform: scale(0.95);
}
/* 使選項更加明顯 */
select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

/* 為選取的項目設置不同的顏色 */
select option:checked {
    background-color: #A79192;
    color: #F6E9E2;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #786364;
    color: #F6E9E2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    flex: 1;
    display: flex;
    height: 80%;
    background-color: #D2AEAD;
    margin-left: 15px;
    margin-right: 15px;
    position: relative; /* 讓map-container成為定位的參考點 */
    padding-bottom: 3px;
}

#map {
    flex: 4;
    height: 99%;
    background-color: #D2AEAD;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px 10px 15px 10px;
    background-color: #CFC5C9;
    border: 1px solid #837d7d;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    height: 650px;
    width: 400px;
}

#info h2,
#info table,
#info canvas {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}   

#title {
    font-size: 28px;
    font-weight: bold;
}

.controls {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #A79192;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls input[type="select"] {
    margin: 0 5px;
}

.controls span {
    margin-right: 20px;
    font-weight: bold;
    color: #000000;
}

.dataType {
    margin-left: 20px;
}

.leaflet-popup-content-wrapper {
    background: #87a8d7;
    color: #ffffff; /* 控制彈出視窗文字的顏色 */
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.leaflet-popup-content {
    padding: 5px;
}
.leaflet-interactive {
    transition: fill 0.5s ease, stroke 0.5s ease;
}
.leaflet-control-custom {
    background-color: #a9d7f6;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
    font-size: 15px;
}

.leaflet-control-custom a {
    background-color: #74afdf;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    width: auto;
    height: auto;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.legend {
    background-color: #a9d7f6;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    color: #333;
}

.legend i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%); /* 將方塊移至正中央 */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    color: #333;
    z-index: 1000;
}

body, html, h2, table, span, select, option, .controls, .leaflet-popup-content-wrapper, .leaflet-control-custom a, .legend, .loading {
    font-family: 'CustomFont', Tahoma, Geneva, Verdana, sans-serif;
}